@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoisys Sistemas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/invoiSys.ico">
</head>
<body>
    <div>
        <center><h2><b>Erro 500</b></h2></center>
        <hr />
        <div>
            <center><lable>Erro interno de servidor.</lable></center>
        </div>
        <div>
            <div>
                <center>
                    <lable>
                        Por favor @Html.ActionLink("clique aqui para efetuar o login", "Login", "Account", routeValues: null, htmlAttributes: new { })
                    </lable>
                </center>
            </div>
            <div>
                <center>
                    <lable>
                        Ou @Html.ActionLink("aqui para acessar a página inicial", "Index", "Home", routeValues: null, htmlAttributes: new { })
                    </lable>
                </center>
            </div>
        </div>
    </div>
</body>
</html>