@model Invoisys.Infrastructure.CrossCutting.Identity.Model.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoisys Sistemas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/invoiSys.ico">
</head>
<body>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <center>
                <h2><b>Redefinir Senha</b></h2>
            </center>
            <hr />
            <div>
                <lable>E-mail</lable>
            </div>
            <div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { required = "required" } })
            </div>
            <br />
            <div>
                <input type="submit" value="Enviar" />
            </div>
            <div>
                @Html.ValidationSummary("")
            </div>
        </div>
    }
</body>
</html>