@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoisys Sistemas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/invoiSys.ico">
</head>
<body>
    <div>
        <center>
            <h2><b>Enviamos um e-mail</b></h2>
        </center>
        <hr />
        <div>
            <center>
                <lable>Por favor, verifique-o para trocar sua senha.</lable>
            </center>
        </div>
    </div>
</body>
</html>